<div class="pa4">
  <blockquote class="ml0 mt0 pl4 white-90 bl bw2 b--white">
    <p class="f5 f4-m f3-l lh-copy measure mt0">
      "Imagination is the Discovering Faculty, pre-eminently. It is that which
      penetrates into the unseen worlds around us, the worlds of Science."
    </p>
    <cite class="f6 ttu tracked fs-normal">―Ada Lovelace</cite>
  </blockquote>
</div>
<br><br>
<div class="contactContainer" ng-controller="ProfileController as pc">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="cursive" style="text-align:left">Please feel free to get in touch . . . </h2><hr>
      <ul class="contactInfo">
        <li class="phone"><a href="tel:612-251-6818">612-251-6818</a></li>
        <li class="linkedIn"><a href="https://www.linkedin.com/in/mattalarson">LinkedIn</a></li>
        <!-- <li class="medium"><a href="https://medium.com/@mlars84">Medium</a></li> -->
        <li class="gitHub"><a href="https://github.com/mlars84">GitHub</a></li>
        <li class="email"><a href="mailto:matt.a.larson@gmail.com?Subject=Hello%20again" target="_top">matt.a.larson@gmail.com</a></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <!-- <md-content style="text-align:left" layout-margin layout-padding> -->

      <div class="col-md-12">
        <img class ="animated fadeIn" src="images/1.5mb.jpg" id="photo1" alt="Photo Loading . . . ">
      </div>
      <!-- </md-content> -->
    </div>
  </div>
</div>
<div class="contactContainer">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="cursive">Some stuff I'm currently learning => </h2>
      <br><br>
      <ul class="continuedLearning">
        <li class="thinking"><a href="https://github.com/mlars84/hello-graphql-angular">Angular with GraphQL backend(attended Front End Masters GraphQL workshop)</a></li>          
        <li class="thinking"><a href="https://github.com/mlars84/slackplayer">Ionic App for audible Slack conversations</a></li>
        <li class="thinking"><a href="https://github.com/mlars84/meet-irl">AngularJS with Karma/Jasmine testing</a></li>
        <li class="thinking"><a href="https://github.com/mlars84/github-battle">React-Fundamentals</a></li>
        <li class="thinking"><a href="https://github.com/mlars84/react-es2017">React: ES6, ES2016, and Beyond</a></li>
        <li class="thinking"><a href="https://github.com/mlars84/react-lifecycles">React: Lifecycles</a></li>
        <li class="thinking"><a href="https://github.com/mlars84/notes/tree/master/Learning%20Notes">Markdown Notes ( lots more in here )</a></li>
      </ul>
    </div>
  </div>
</div>
