<br><br><div ng-controller="ProfileController as pc">
  <h1 class="name"> Welcome! I'm Matt Larson.</h1>
  <h3 class="intro animated fadeInRight">{{pc.profile.bio}}</h3>
  <a name="bio"></a><br><br>
  <div class="bio"><h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDeveloper, musician/composer, cat <em>and</em> dog lover. I graduated from
    <a class="prime" href="https://primeacademy.io/">Prime Digital Academy</a> in July, 2017 with a certification in Full Stack Software Engineering and am particularly passionate
    about Functional Programming, Modern JavaScript ES6 and beyond and ReactJS. I'm currently continuing my education independently and learning React, Relay, GraphQL, Material-UI, Styled-Components and more as an intern with <a class="prime" href="http://bouncetribe.com/">BounceTribe</a>.
    My unique background of music composition and leading orchestras serves my role as a Software Developer by allowing me to compose complex design ideas together, react on the fly and
    embrace the intersections of technology and art to solve problems with creativity,
    organization and compassion. I am thrilled to start my new career, and am
    looking for a development position in the Twin Cities.</h4></div><br><br>
</div>
<br><br>
<md-divider></md-divider>
<div class="">
  <a name="skills"></a>
  <h1 class="cursive" >Technical Skills</h1><br><br>
  <img class="animated infinite pulse" src="/images/mean.png" style="height:30%; width:30%;" alt=""><br><br>
  <h4>The <a class="prime" href="http://mean.io/">MEAN Stack</a> is a JavaScript stack comprised of MongoDB, Express.js, AngularJS and Node.js. Other skills include (click on the text to learn more):</h4>
  <br><br>
  <div class="tech row">
      <div class="col-xs-6 col-md-2"><img src="/images/javascript.png" class="techSkills"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"> JavaScript</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/html.png" class="techSkills"><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"> HTML5</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/css3.png" class="techSkills"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3"> CSS3</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/angularjs.svg" class="techSkills"><a href="https://www.w3schools.com/angular/angular_intro.asp"> AngularJS</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/jquery.png" class="techSkills"><a href="https://www.w3schools.com/jquery/"> jQuery</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/nodejs.svg" class="techSkills"><a href="https://www.w3schools.com/nodejs/nodejs_intro.asp"> Node.js</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/Octocat.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/GitHub"> GitHub</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/Git-Icon-1788C.png" class="techSkills"><a href="https://git-scm.com/"> Git</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/bootstrap.png" class="techSkills"><a href="https://www.w3schools.com/bootstrap/"> Bootstrap3</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/sass.png" class="techSkills"><a href="http://sass-lang.com/"> Sass</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/mongodb.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/MongoDB"> MongoDB</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/yarn.png" class="techSkills yarn"><a href="https://code.facebook.com/posts/1840075619545360"> Yarn</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/npm.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Npm_(software)"> npm</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/postgresql.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/PostgreSQL"> PostgreSQL</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/grunt.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Grunt_(software)"> Grunt.js</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/gulp-logo.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Gulp.js"> Gulp.js</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/react.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/React_(JavaScript_library)"> ReactJS</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/meteor_logo.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Meteor_(web_framework)"> MeteorJS</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/wordpress.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/WordPress"> WordPress</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/mySQL.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/MySQL"> MySQL</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/php.png" class="php"><a href="https://en.wikipedia.org/wiki/PHP"> PHP</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/GraphQL_Logo.svg.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/GraphQL"> GraphQL</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/Logo_jasmine.svg.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Jasmine_(JavaScript_testing_framework)"> Jasmine</a></div>
      <div class="col-xs-6 col-md-2"><img src="/images/vue.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Vue.js"> Vue.js</a></div>
  </div>
  <br><br>
  <md-divider></md-divider>
  <br><br>
  <hr><br><br>
  <img src="/images/inASuit.jpg" class="inASuit animated fadeIn" style="height:30%; width:30%;" alt="">
  <br><br><br>
</div>
<hr><br><br>
<div class="thisSite">
  <h4>This site was built with JavaScript, HTML5, CSS3, AngularJS, Angular Material, Bootstrap3, Node.js, Express.js, Yarn and Gulp.</h4>
</div>
<br><br>
