<br><br><div ng-controller="ProfileController as pc">
  <div class="welcome-container">
    <div class="welcome welcome1">w</div>
    <div class="welcome welcome2">E</div>
    <div class="welcome welcome3">l</div>
    <div class="welcome welcome4">C</div>
    <div class="welcome welcome5">o</div>
    <div class="welcome welcome6">M</div>
    <div class="welcome welcome7">e</div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
  <h1 class="name"> I'm Matt Larson.</h1>
  <h3 class="intro animated fadeInRight">{{pc.profile.bio}}</h3>
  <a name="bio"></a><br><br>
  <div class="bio ml0 mt0 pl4 white-90 bl bw2 b--white"><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer, musician/composer, cat <em>and</em> dog lover. I graduated from
    <a class="prime" href="https://primeacademy.io/">Prime Digital Academy</a> in July, 2017 with a certification in Full Stack Software Engineering and am particularly passionate
    about Functional Programming, Modern JavaScript ES6+, FlexBox, Angular, ReactJS and GraphQL. I'm currently continuing my education independently and refining my skills in React, Relay, GraphQL, Material-UI, Styled-Components, Flexbox and more as a part-time Developer with <a class="prime" href="https://test.bouncetribe.com/login">BounceTribe</a>.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My unique background of music composition and leading orchestras serves my role as a Software Developer by allowing me to compose complex design ideas together, react on the fly and
    embrace the intersections of technology and art to solve problems with creativity,
    organization and compassion. I have an incredible work ethic and genuinely enjoy challenging myself and solving formidable problems on a daily basis. I am thrilled with my new career, and am
    seeking a full-time development position in the Twin Cities. Please <a class="prime" href="/contact">contact</a> me with any inquiries or curiosities.</h4></div><br><br>
</div>
<br><br>
<md-divider></md-divider>
<div class="">
  <a name="skills"></a>
  <h1 class="cursive" >Technical Skills</h1><br><br>
  <img class="animated infinite pulse" src="/images/mean.png" style="height:30%; width:30%;" alt=""><br><br>
  <h4>The <a class="prime" href="http://mean.io/">MEAN Stack</a> is a JavaScript stack comprised of MongoDB, Express.js, AngularJS and Node.js. Other skills include (click on the text to learn more):</h4>
  <br><br>
  <div class="tech-container">
    <div class="tech tech-item"><img src="/images/jsLogo.png" class="techSkills"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"> JavaScript</a></div>
    <div class="tech tech-item"><img src="/images/html5.png" class="techSkills"><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"> HTML5</a></div>
    <div class="tech tech-item"><img src="/images/css3.png" class="techSkills"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3"> CSS3</a></div>
    <div class="tech tech-item"><img src="/images/angularjs.svg" class="techSkills"><a href="https://www.w3schools.com/angular/angular_intro.asp"> Angular/AngularJS</a></div>
    <div class="tech tech-item"><img src="/images/react.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/React_(JavaScript_library)"> ReactJS</a></div>  
    <div class="tech tech-item"><img src="/images/nodejs.svg" class="techSkills"><a href="https://www.w3schools.com/nodejs/nodejs_intro.asp"> Node.js</a></div>      
    <div class="tech tech-item"><img src="/images/relayLogo.svg" class="techSkills"><a href="https://facebook.github.io/relay/"> Relay</a></div>
    <!-- <div class="tech tech-item"><img src="/images/reduxLogo.png" class="techSkills"><a href="http://redux.js.org/"> Redux</a></div> -->
    <div class="tech tech-item"><img src="/images/apolloLogo.png" class="techSkills"><a href="https://www.apollodata.com/"> Apollo</a></div>
    <div class="tech tech-item"><img src="/images/jquery.png" class="techSkills"><a href="https://www.w3schools.com/jquery/"> jQuery</a></div>
    <div class="tech tech-item"><img src="/images/Octocat.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/GitHub"> GitHub</a></div>
    <div class="tech tech-item"><img src="/images/Git-Icon-1788C.png" class="techSkills"><a href="https://git-scm.com/"> Git</a></div>
    <div class="tech tech-item"><img src="/images/bootstrapLogo.svg" class="techSkills"><a href="https://www.w3schools.com/bootstrap/"> Bootstrap3</a></div>
    <div class="tech tech-item"><img src="/images/sass.png" class="techSkills"><a href="http://sass-lang.com/"> Sass</a></div>
    <div class="tech tech-item"><img src="/images/GraphQL_Logo.svg.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/GraphQL"> GraphQL</a></div>      
    <div class="tech tech-item"><img src="/images/mongodbLogo.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/MongoDB"> MongoDB</a></div>
    <div class="tech tech-item"><img src="/images/yarn.png" class="techSkills yarn"><a href="https://code.facebook.com/posts/1840075619545360"> Yarn</a></div>
    <div class="tech tech-item"><img src="/images/npm.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Npm_(software)"> npm</a></div>
    <div class="tech tech-item"><img src="/images/postgresql.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/PostgreSQL"> PostgreSQL</a></div>
    <div class="tech tech-item"><img src="/images/grunt.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Grunt_(software)"> Grunt.js</a></div>
    <div class="tech tech-item"><img src="/images/gulp-logo.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Gulp.js"> Gulp.js</a></div>
    <!-- <div class="tech tech-item"><img src="/images/javaSpring.png" class="techSkills"><a href="https://projects.spring.io/spring-boot/"> Spring Boot</a></div> -->
    <div class="tech tech-item"><img src="/images/RxJSLogo.png" class="techSkills"><a href="http://reactivex.io/rxjs/"> RxJS</a></div>
    <div class="tech tech-item"><img src="/images/ionic2.png" class="techSkills"><a href="http://ionic.io/2"> Ionic2</a></div>      
    <div class="tech tech-item"><img src="/images/meteor_logo.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Meteor_(web_framework)"> MeteorJS</a></div>
    <div class="tech tech-item"><img src="/images/laravel.svg" class="php"><a href="https://en.wikipedia.org/wiki/PHP"> Laravel/PHP</a></div>
    <div class="tech tech-item"><img src="/images/mySQL.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/MySQL"> MySQL</a></div>
    <div class="tech tech-item"><img src="/images/wordpress.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/WordPress"> WordPress</a></div>
    <div class="tech tech-item"><img src="/images/Logo_jasmine.svg.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Jasmine_(JavaScript_testing_framework)"> Jasmine/Karma</a></div>
    <div class="tech tech-item"><img src="/images/vue.png" class="techSkills"><a href="https://en.wikipedia.org/wiki/Vue.js"> Vue.js</a></div>
  </div>
  <br><br>
  <md-divider></md-divider>
  <br><br>
  <hr><br><br>
  <img src="/images/inASuit.jpg" class="inASuit animated fadeIn" style="height:30%; width:30%;" alt="">
  <br><br><br>
</div>
<hr><br><br>
<div class="thisSite">
  <h4>This site was built with JavaScript, HTML5, CSS3/flexbox, AngularJS, Angular Material, Bootstrap3, Node.js, Express.js, Yarn and Gulp.</h4>
</div>
<br><br>
