<br><br><div ng-controller="ProfileController as pc">
  <h3 class="intro animated fadeInRight">{{pc.profile.bio}}</h3>
  <a name="bio"></a><br><br>
  <div class="bio"><h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDeveloper, musician/composer, cat <em>and</em> dog lover. I graduated from
    <a class="prime" href="https://primeacademy.io/">Prime Digital Academy</a> in July, 2017 with a certification in Full Stack Software Engineering and am particularly passionatate
    about Functional Programming, Modern JavaScript ES6 and beyond and ReactJS. I'm currently continuing my education independently and learning React as an intern with <a class="prime" href="http://bouncetribe.com/">BounceTribe</a>.
    My background of music composition and leading orchestras serves my role as a Software Developer by allowing me to use
    the intersections of technology and art to solve problems with creativity,
    organization and compassion. I am thrilled to start my new career, and am
    looking for a development position in the Twin Cities.</h4></div><br><br>
</div>
<br><br>
<md-divider></md-divider>
<div class="">
  <a name="skills"></a>
  <h3>Technical Skills</h3>
  <img src="/images/mean.png" style="height:30%; width:30%;" alt="">
  <h4>The <a class="prime" href="http://mean.io/">MEAN Stack</a> is a JavaScript stack comprised of MongoDB, Express.js, AngularJS and Node.js.</h4>
  <br><br>
  <div class="tech row">
      <div class="col-xs-6 col-md-2"><img src="/images/javascript.png" class="techSkills"> JavaScript</div>
      <div class="col-xs-6 col-md-2"><img src="/images/html.png" class="techSkills"> HTML5</div>
      <div class="col-xs-6 col-md-2"><img src="/images/css3.png" class="techSkills"> CSS3</div>
      <div class="col-xs-6 col-md-2"><img src="/images/angularjs.svg" class="techSkills"> AngularJS</div>
      <div class="col-xs-6 col-md-2"><img src="/images/jquery.png" class="techSkills"> jQuery</div>
      <div class="col-xs-6 col-md-2"><img src="/images/nodejs.svg" class="techSkills"> Node.js</div>
      <div class="col-xs-6 col-md-2"><img src="/images/github.png" class="techSkills"> GitHub</div>
      <div class="col-xs-6 col-md-2"><img src="/images/git.png" class="techSkills"> Git</div>
      <div class="col-xs-6 col-md-2"><img src="/images/bootstrap.png" class="techSkills"> Bootstrap3</div>
      <div class="col-xs-6 col-md-2"><img src="/images/mongodb.png" class="techSkills"> MongoDB</div>
      <div class="col-xs-6 col-md-2"><img src="/images/npm.png" class="techSkills"> npm</div>
      <div class="col-xs-6 col-md-2"><img src="/images/postgresql.png" class="techSkills"> PostgreSQL</div>
      <div class="col-xs-6 col-md-2"><img src="/images/grunt.png" class="techSkills"> Grunt.js</div>
      <div class="col-xs-6 col-md-2"><img src="/images/react.png" class="techSkills"> React.js</div>
      <div class="col-xs-6 col-md-2"><img src="/images/meteor_logo.png" class="techSkills"> MeteorJS</div>
      <div class="col-xs-6 col-md-2"><img src="/images/wordpress.png" class="techSkills"> WordPress</div>
      <div class="col-xs-6 col-md-2"><img src="/images/mySQL.png" class="techSkills"> MySQL</div>
      <div class="col-xs-6 col-md-2"><img src="/images/php.png" class="php"> PHP</div>
  </div>
  <br><br>
  <md-divider></md-divider>
  <br><br>
  <div class="thisSite">
    <h4>This site was built with JavaScript, HTML5, CSS3, AngularJS, Angular Material, Bootstrap3, Node.js, Express.js, Yarn and Gulp.</h4>
  </div>
  <hr><br><br>
  <img src="/images/inASuit.jpg" class="inASuit animated fadeIn" style="height:30%; width:30%;" alt="">
  <br><br><br><br><br><br>
</div>
