/* normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],1
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.jumbotron {
  background-color: #98c051;
  border-radius: 5px;
  padding-bottom: 1px;
}

.jumboName {
  margin-left: 2rem;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #615252;
  text-align: center;
}

.navLinks {
  transition: all .2s ease-in-out;
  font-size: 2vmin;
}

.navLinks:hover {
  font-size: 3vmin;
  color: white;
  filter: blur(3px);
}

.newText {
  visibility: hidden;
}

.newText:hover {
  visibility: visible;
}

.welcome-container {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  display: flex;
  height: 1vh;
  align-items: baseline;
  color:white;
  font-size: 30px;
  text-align: center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  padding:10px;
  justify-content: center;
  justify-content: space-around;
}

.welcome {
  border-radius: 50px;
  padding: .5em .5em .5em .5em;
  background: #98c051;
  font-weight: bold;
}

.welcome1 {font-size: 50px; color: white;}
.welcome2 {font-size: 40px; color: black;}
.welcome3 {font-size: 75px; color: white;}
.welcome4 {font-size: 30px; color: black;}
.welcome5 {font-size: 60px; color: white;}
.welcome6 {font-size: 35px; color: black;}
.welcome7 {font-size: 70px; color: wthie;}

.name {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: white;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: type 2s linear 0s;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 500px;
  }
}

.cursive {
  font-family: 'Sacramento', cursive;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;  
}

.tech-item {
  justify-content: space-around;
  background-color: #98c051;
  height: 11em;
  width: 11em;
  padding: 2.5em 2.5em 2.5em 2.5em;
}

.techSkills {
  justify-content: space-around; 
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;
}

.techSkills:hover {
  filter: grayscale(0%);
}

.php {
  display: flex;
  justify-content: space-around;
  height: 7em;
  width: 9em;
  max-width: 9em;
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;
}

.php:hover {
  filter: grayscale(0%);
}

.gifs {
  border: 2px solid #12213f;
  border-radius: 5px;
}

.inASuit {
  border-radius: 5%;
  border: 5px solid #9ec7ac;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
}

img {
  text-align: center;
}

.prime {
  padding: 0;
  margin: 0;
}

#photo1 {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin: auto;
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  text-align: center;
}

.bio {
  text-align: left;
  margin-left: 15vmin;
  margin-right: 15vmin;
  flex: auto;
}

a {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #d67150;
  padding-right: 10rem;
  text-align: center;
  transition: all .2s ease-in-out;
}

a:hover {
  color: #98c051;
}

a:visited {
  color: #d67150;
}

body, html {
  font-family: -apple-system, BlinkMacSystemFont,
  Seqoe UI, Roboto, Oxygen-Sans,
  Cantarell, Helvetica Neue, sans-serif;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
  background-color: #12213f;
  color: white;
}

md-card, md-content {
  opacity: .9;
}

/*about*/
.contactInfo {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contactInfo a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contactInfo li.phone a {
  background-image: url('/images/whitePhone.png');
}

.contactInfo li.linkedIn a {
  background-image: url('/images/linkedIn.png');
}

.contactInfo li.medium a {
  background-image: url('/images/medium.png');
}

.contactInfo li.gitHub a {
  background-image: url('/images/Octocat.png');
}

.contactInfo li.email a {
  background-image: url('/images/gmail.ico');
}

.continuedLearning {
  list-style: none;
  padding: 0;
  margin: 0;
}

.continuedLearning a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.continuedLearning li.thinking a {
  background-image: url('/images/thinking.png');
}

.responsive-image {
  max-width: 100%;
  border-radius: 20px;
  padding: 1em 1em 1em 1em;
}

.cell img {
  display: block;
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
    margin: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
    margin: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: 100%;
  }
}

.backToTop {
  display: flex;
  justify-content: center;
}

.contactContainer {
  padding: 2em 2em 2em 2em;
  border-radius: 5px;
  margin-bottom: 3em;
}
