/*#toolbar {
  background-color: #A9A9A9;
}

#toolText {
  margin-left: 2vmin;
}*/

.jumbotron {
  background-color: #98c051;
  border-radius: 5px;
  padding-bottom: 1px;
  /*opacity: .5;*/
  /*animation-play-state: paused;
  filter: grayscale(100%);
  transition: all .5s ease-in-out;*/
}

.jumbotron:hover {
  /*animation-play-state: running;
  filter: grayscale(0%);*/
}

.jumboName {
  margin-left: 2rem;
  /*font-family: 'Arvo', serif;*/
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #615252;
  text-align: center;
}

.navLinks {
  transition: all 1s ease-in-out;
  font-size: 2vmin;
}

.navLinks:hover {
  font-size: 3vmin;
  color: whites;
  filter: blur(75px);
}

.navBar {
  transition: all .3s ease-in-out;
}

.navBar:hover {
  font-size: 3vmin;
}

.newText {
  visibility: hidden;
}

.newText:hover {
  visibility: visible;
}

.name {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: white;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: type 2s linear 0s;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 500px;
  }
}

.cursive {
  font-family: 'Sacramento', cursive;
}

.tech {
  /*background-color: #f1e0ff;*/
  background-color: #98c051;
  border-radius: 5px;
  flex: auto;
  padding: 2em 2em 2em 2em;
}

.techSkills {
  display: flex;
  justify-content: space-around;
  height: 8em;
  width: 8em;
  padding: 1vmin 1vmin 1vmin 1vmin;
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;
}

.techSkills:hover {
  filter: grayscale(0%);
}

.php {
  display: flex;
  justify-content: space-around;
  height: 7em;
  width: 9em;*/
  max-width: 9em;
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;
  opacity: .5;
}

.php:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.gifs {
  border: 2px solid #12213f;
  border-radius: 5px;
}

.inASuit {
  border-radius: 5%;
  border: 5px solid #9ec7ac;
  /*filter: drop-shadow(16px 16px 20px #615252);*/
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
  /*text-align: center;*/
  /*color: #615252;*/
}

img {
  text-align: center;
}

.prime {
  padding: 0;
  margin: 0;
}

#photo1 {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin: auto;
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  text-align: center;
}

.bio {
  text-align: left;
  margin-left: 15vmin;
  margin-right: 15vmin;
  flex: auto;
}

a {
  /*font-family: 'Arvo', serif;*/
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #d67150;
  padding-right: 10rem;
  text-align: center;
  transition: all .2s ease-in-out;
}

a:hover {
  color: #98c051;
}

a:active {
  color: white;
}

p {
  /*color: #615252;*/
}

body, html {
  /*background-color: #d3d3d5;*/
  /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont,
  Seqoe UI, Roboto, Oxygen-Sans,
  Cantarell, Helvetica Neue, sans-serif;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
  /*background-color: #f4f4f4;*/
  background-color: #12213f;
  color: white;
}

md-card, md-content {
  /*background-color: #A9A9A9;*/
  opacity: .9;
}

/*about*/
.contactInfo {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contactInfo a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contactInfo li.phone a {
  background-image: url('/images/whitePhone.png');
}

.contactInfo li.linkedIn a {
  background-image: url('/images/linkedIn.png');
}

.contactInfo li.medium a {
  background-image: url('/images/medium.png');
}

.contactInfo li.gitHub a {
  background-image: url('/images/Octocat.png');
}

.contactInfo li.email a {
  background-image: url('/images/gmail.ico');
}

.continuedLearning {
  list-style: none;
  padding: 0;
  margin: 0;
}

.continuedLearning a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.continuedLearning li.thinking a {
  background-image: url('/images/thinking.png');
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
  border-radius: 20px;
  padding: 1em 1em 1em 1em;
}

.cell img {
  display: block;
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
    margin: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
    margin: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

.contactContainer {
  /*background-color: #5091af;*/
  padding: 2em 2em 2em 2em;
  border-radius: 5px;
  margin-bottom: 3em;
}

/*footer {
  background-color: #c6e48b;
  opacity: .5;
}*/

/*.container {
  border: 1px solid black;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  background-color: #c6e48b;
}*/
